<div class="row">
  <div class="dropdown float-left">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>
<div class="float-right ml-auto">
<button class="btn btn-primary" ng-click="statusFilter={completed:true}">
  <i class="fas fa-tasks"></i>
</button>
<button class="btn btn-primary" ng-click="statusFilter={completed:false}">
  <i class="fas fa-list-ul"></i>
</button>
<button class="btn btn-primary" ng-click="statusFilter={}">All</button>
</div>
</div>