<div class="row">
  <div class="dropdown float-left">

    <!-- <select class="form-control col-8" ng-show="!createCategory">
      <option ng-repeat="todo in todos | unique:'category'" ng-click="statusFilter={category:newTodoCategory}">
        {{todo.category}}</option>
    </select> -->
  </div>
  <div class="float-right ml-auto">
    <button class="btn btn-primary" ng-click="statusFilter={completed:true}">
      <i class="fas fa-tasks"></i>
    </button>
    <button class="btn btn-primary" ng-click="statusFilter={completed:false}">
      <i class="fas fa-list-ul"></i>
    </button>
    <button class="btn btn-primary" ng-click="statusFilter={}">All</button>
  </div>
</div>