<div class="row justify-content-center align-items-center">
  <span ng-style="{'background-color': todo.color}" class="borderMarker mr-2 text-center">
    {{todo.category}}
  </span>
  <div class="input-group">
    <!--완료체크-->
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" ng-model="todo.completed" ng-click="update()" />
      </div>
    </div>
    <!--투두 내용 수정-->
    <input type="text" class="form-control" ng-model="todo.title" ng-blur="update()"/>
    <!--투두 삭제 버튼-->
    <span class="input-group-append">
      <button class="btn btn-sm btn-danger" type="button" ng-click="remove(todo)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </span>
  </div>
</div>

<!--종료일-->
<div class="text-right mr-5 my-2">
  {{todo.closingDate | date : 'yyyy-MM-dd'}} 까지 
  <!--수정,취소 버튼 토글-->
  <button class="btn btn-sm btn-warning" ng-show="!dateUpdate" ng-click="dateUpdate =! dateUpdate"><i class="far fa-calendar-alt"></i></button>
  <button class="btn btn-sm btn-warning" ng-show="dateUpdate" ng-click="dateUpdate =! dateUpdate">취소</button>
  <!--마감일 수정-->
  <div class="input-group my-1 ml-auto" ng-show="dateUpdate" style="width: 25%;">
    <input type="text" class="form-control" placeholder="{{todo.closingDate}}" date-picker-directive ng-model="todo.closingDate"/>
    <div class="input-group-append">
      <button class="btn btn-success" ng-click="dateUpdate =!dateUpdate; update()"><i class="far fa-calendar-check"></i></button>
    </div>
  </div>
</div>
